<%- include("partials/header"); -%>

<div class="home">
<h1>Crypthunt Game</h1>
<p>Please sign in to continue</p>
<a class="sign-in" href="/sign-in">Sign In</a>
</div>





<%- include("partials/footer"); -%>

