<%- include("partials/header"); -%>

<div class="level">
<h1>LEVEL # 1</h1>    
<p class="bordered"><%= riddle1 %></p>
<div class="answer">
    <label for="answer"></label>
    <input type="text"size="103" placeholder="Answer">
</div>
</div>
<button type="button" text-align="center" class="btn1 btn-primary btn-lg">Previous</button>
<button type="button" text-align="center" class="btn2 btn-primary btn-lg">Next</button>




<%- include("partials/footer"); -%>