<%- include("partials/header"); -%>

<div class="sign-In">
<h1>Sign in with google</h1>
<a class="sign in with google" href="/sign in with google">Sign In with google</a>
</div>


<%- include("partials/footer"); -%>